.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    font-size: 24px;
    padding: 8px
}

.links-top {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: #f9faf8;
}

p {
    font-size: 15px;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.hero-left-head {
    font-size: 24px;
    color: #f9faf8;
}

.sade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-button {
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 25px;
    padding: 0;
    height: 30px;
    width: 100px;
}

.middle {
    display: flex;
    flex-direction: column;
}

.bmw-pics {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.bmw-text img {
    height: 260px;
    border-radius: 10px;
    width: 250px;
}

.bmw-text p {
    width: 180px;
    text-align: center;
}

.title {
    text-align: center;
}